In [1]:
import glob, os
import pandas as pd

In [2]:
path = './'
file = glob.glob(os.path.join(path, "earth_train**.csv"))
dl = []
for f in file:
    dl.append(pd.read_csv(f, sep=' ', names=['u', 'e', 'a_p', 'inc', 'status']))
df = pd.concat(dl)
df

          u     e   a_p       inc  status
0      0.13  0.30  1.98  0.000000       0
1      0.04  0.23  4.74  2.617994       1
2      0.24  0.81  2.27  1.745329       0
3      0.27  0.78  1.77  0.174533       0
4      0.26  0.61  2.55  2.967060       0
...     ...   ...   ...       ...     ...
19995  0.42  0.29  2.78  2.443461       1
19996  0.35  0.17  3.13  1.919862       1
19997  0.40  0.14  3.68  2.094395       1
19998  0.41  0.04  5.89  2.094395       1
19999  0.20  0.68  1.57  1.570796       0

[400000 rows x 5 columns]

In [3]:
df.to_csv('./earth_trainset01.csv', index=False)