In [1]:
from pycaret.classification import *
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('habitable_dataset.csv')
df = data[['m1','m2','t1','t2','L1','L2','e_b','a_p','ahb',]]
df.head(10)

     m1    m2         t1         t2        L1        L2   e_b   a_p  ahb
0  0.67  0.33  4587.1738  3608.2662  0.214719  0.015262  0.20  0.93    0
1  0.69  0.31  4644.7566  3550.6834  0.241070  0.012173  0.34  1.07    2
2  0.71  0.29  4702.3394  3493.1006  0.269922  0.009563  0.25  1.16    2
3  0.63  0.37  4472.0082  3723.4318  0.168852  0.023102  0.17  0.93    2
4  0.53  0.47  4184.0942  4011.3458  0.087130  0.055564  0.06  0.93    2
5  0.75  0.25  4817.5050  3377.9350  0.335842  0.005569  0.23  0.81    1
6  0.74  0.26  4788.7136  3406.7264  0.318276  0.006428  0.03  0.66    1
7  0.53  0.47  4184.0942  4011.3458  0.087130  0.055564  0.22  1.39    2
8  0.61  0.39  4414.4254  3781.0146  0.149023  0.027979  0.00  1.21    2
9  0.59  0.41  4356.8426  3838.5974  0.131070  0.033586  0.36  0.57    1

In [6]:
data = df.sample(frac=0.9, random_state=786)
data_unseen = df.drop(data.index)

data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print('Data for Modeling:' + str(data.shape))
print('Unseen Data For Predictions:' + str(data_unseen.shape))

Data for Modeling:(294023, 9)
Unseen Data For Predictions:(32669, 9)

In [8]:
exp = setup(data=data, target='ahb', session_id=123)

In [9]:
best = compare_models()

In [10]:
rf = create_model('rf')

In [11]:
tuned_dt = tune_model(rf)

In [12]:
predict_model(tuned_dt)

             L1        L2   e_b   a_p ahb  Label   Score
0      0.075381  0.064893  0.30  1.13   2      2  0.9495
1      0.435652  0.002413  0.10  1.32   2      2  0.7536
2      0.227593  0.013655  0.20  0.66   1      1  0.6487
3      0.075381  0.064893  0.23  0.60   1      1  0.6980
4      0.179514  0.020915  0.38  0.56   1      1  0.5867
...         ...       ...   ...   ...  ..    ...     ...
88202  0.414005  0.002908  0.50  1.14   0      0  0.6625
88203  0.202428  0.017003  0.31  0.86   0      0  0.5602
88204  0.093511  0.051303  0.17  0.61   1      1  0.6980
88205  0.087130  0.055564  0.16  1.02   2      2  0.8119
88206  0.435652  0.002413  0.23  0.55   2      0  0.7178

[88207 rows x 7 columns]

In [14]:
final_rf = finalize_model(tuned_dt)

In [15]:
unseen_predictions = predict_model(final_rf, data=data_unseen)
unseen_predictions.head()

,m1,m2,t1,t2,L1,L2,e_b,a_p,ahb,Label,Score
0,0.61,0.39,4414.4254,3781.0146,0.149023,0.027979,0.00,1.21,2,2,0.9469
1,0.75,0.25,4817.5050,3377.9350,0.335842,0.005569,0.10,0.75,1,1,0.6394
2,0.62,0.38,4443.2168,3752.2232,0.158694,0.025454,0.11,0.87,0,0,0.5924
3,0.50,0.50,4097.7200,4097.7200,0.069986,0.069986,0.19,0.78,0,0,0.5808
4,0.68,0.32,4615.9652,3579.4748,0.227593,0.013655,0.18,1.02,2,0,0.6349