In [1]:
import torch
from torch import nn
from torch.nn import init
import numpy as np
import pandas as pd
import sys
sys.path.append('../')
import ML as ml
import glob, os

In [2]:
data = pd.read_csv('test_dataset.csv')
df = data[['m1','m2','t1','t2','L1','L2','e_b','a_p','ahb','phb']]
df.head(10)

     m1    m2         t1         t2        L1        L2   e_b   a_p  ahb  phb
0  0.54  0.46  4212.8856  3982.5544  0.093511  0.051303  0.34  0.75    0    0
1  0.56  0.44  4270.4684  3924.9716  0.107359  0.043531  0.09  1.42    2    2
2  0.68  0.32  4615.9652  3579.4748  0.227593  0.013655  0.12  0.51    0    0
3  0.79  0.21  4932.6706  3262.7694  0.414005  0.002908  0.35  1.29    2    2
4  0.70  0.30  4673.5480  3521.8920  0.255173  0.010812  0.13  1.44    2    2
5  0.73  0.27  4759.9222  3435.5178  0.301450  0.007377  0.23  1.26    2    2
6  0.71  0.29  4702.3394  3493.1006  0.269922  0.009563  0.19  1.21    2    2
7  0.68  0.32  4615.9652  3579.4748  0.227593  0.013655  0.20  0.79    1    0
8  0.74  0.26  4788.7136  3406.7264  0.318276  0.006428  0.24  0.50    0    2
9  0.78  0.22  4903.8792  3291.5608  0.393228  0.003466  0.41  0.72    0    0

In [3]:
all_features = df.iloc[:,:-2]
all_features

         m1    m2         t1         t2        L1        L2   e_b   a_p
0      0.54  0.46  4212.8856  3982.5544  0.093511  0.051303  0.34  0.75
1      0.56  0.44  4270.4684  3924.9716  0.107359  0.043531  0.09  1.42
2      0.68  0.32  4615.9652  3579.4748  0.227593  0.013655  0.12  0.51
3      0.79  0.21  4932.6706  3262.7694  0.414005  0.002908  0.35  1.29
4      0.70  0.30  4673.5480  3521.8920  0.255173  0.010812  0.13  1.44
...     ...   ...        ...        ...       ...       ...   ...   ...
26687  0.78  0.22  4903.8792  3291.5608  0.393228  0.003466  0.52  1.22
26688  0.77  0.23  4875.0878  3320.3522  0.373292  0.004092  0.07  0.86
26689  0.80  0.20  4961.4620  3233.9780  0.435652  0.002413  0.50  0.75
26690  0.78  0.22  4903.8792  3291.5608  0.393228  0.003466  0.25  0.90
26691  0.58  0.42  4328.0512  3867.3888  0.122754  0.036687  0.14  0.58

[26692 rows x 8 columns]

In [4]:
numeric_features = all_features.dtypes[all_features.dtypes != 'object'].index
all_features[numeric_features] = all_features[numeric_features].apply(
    lambda x: (x - x.mean()) / (x.std()))
# 标准化后，每个特征的均值变为0，所以可以直接用0来替换缺失值
all_features[numeric_features] = all_features[numeric_features].fillna(0)

In [5]:
all_features = pd.get_dummies(all_features, dummy_na=False)
all_features

,m1,m2,t1,t2,L1,L2,e_b,a_p
0,-1.423817,1.423817,-1.423817,1.423817,-1.248580,1.580366,0.864792,-0.860910
1,-1.196021,1.196021,-1.196021,1.196021,-1.122243,1.165602,-0.940296,1.465465
2,0.170758,-0.170758,0.170758,-0.170758,-0.025337,-0.428917,-0.723685,-1.694239
3,1.423638,-1.423638,1.423638,-1.423638,1.675326,-1.002464,0.936996,1.014079
4,0.398554,-0.398554,0.398554,-0.398554,0.226276,-0.580642,-0.651482,1.534909
...,...,...,...,...,...,...,...,...
26687,1.309740,-1.309740,1.309740,-1.309740,1.485770,-0.972668,2.164455,0.771025
26688,1.195841,-1.195841,1.195841,-1.195841,1.303896,-0.939242,-1.084703,-0.478968
26689,1.537536,-1.537536,1.537536,-1.537536,1.872810,-1.028877,2.020048,-0.860910
26690,1.309740,-1.309740,1.309740,-1.309740,1.485770,-0.972668,0.214960,-0.340080
26691,-0.968224,0.968224,-0.968224,0.968224,-0.981796,0.800317,-0.579278,-1.451185

In [6]:
test_features = torch.tensor(all_features.values, dtype=torch.float)
#phb
test_labels = torch.tensor(df.phb.values, dtype=torch.long)
batch_size = 512
testset = torch.utils.data.TensorDataset(test_features, test_labels)
test_iter = torch.utils.data.DataLoader(testset, batch_size, shuffle=True)

In [7]:
PATH = "./phb_net.pt"
model = torch.load(PATH)

In [8]:
test_acc = ml.eva_acc(test_iter, model)
test_acc

0.9826539787202158